.draggable {
    width: fit-content;
    height: fit-content;
    position: absolute !important;
    z-index: 8;
}

.draggable img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}

div#sticker-sheet {
    position: fixed;
    right:0;
    z-index: 9;
    visibility: hidden;
    width: 8rem;
}

button#sitcker-view {
    position: fixed;
    right:0;
    z-index: 9;
    background-color: #333;
    border-style: ridge;
    border-color: #828;
    border-width: 0.333rem;
    border-right: 0;
    font-family: 'PMD', sans-serif;
    font-size: 32px;
    text-shadow: black 2px 2px;

    color: white;
    font-weight: bolder;
    width: 1.333rem;

}

div#sillies {
    left: 2.5%;
    position: absolute;
    height: fit-content;
}

div#sillies2 {
    right: 2.5%;
    position: absolute;
    height: fit-content;
}

div#sillies2 h2 {
    margin: 0;
    margin-top: 0.333rem;
}

#moonPhase {
    margin: 0.333rem;
}

#moonPhase img{
    width: 100%;
}

div#sticker-sheet h2 {
    margin-top: 0;
}

div#stuck-stickers {
    transform: translateY(25%);
    z-index: 8;
}


div#stuck-stickers div {
    position: absolute;
    height: min-content;
    width: min-content;
}

#venus {top: 14%; left: 55%; }
#mars {top: 16%; left: 10%; }
#saturn {top: 6%; left: 2%; }
#jupiter {top: 1%; left: 60%; }

img.button {
    margin: 0.333rem;
}

div.boxDiv {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    display: flex;
    justify-content: center;
    position: relative;
}

img.box_back {
    position: absolute;
}

img.box_inside {
    height: 83px;
    top: -5px;
    position: absolute;
}

img.box_front {
    z-index: 1;
}

.jumping {
    animation: Jump 1.2s linear;
}

@keyframes Jump {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-100px) rotate(180deg);
    }
    100% {
        transform: translateY(0) rotate(359deg);
    }    
}