html {
    background-image: url("/images/stars.gif");
}

img.eatable {
    image-rendering: pixelated;
    z-index: 2;
    position: absolute !important;
}

button#mute {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
    /** makes the button turn square :3 */
    background-color: white;
    img {
        height: 1rem;
    }
}