html {
    background-image: url("/images/stars.gif");
    image-rendering: pixelated;
}

img.eatable {
    z-index: 2;
    position: absolute !important;
}

button#mute {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
    height: 2rem;
    width: 2rem;
    /** makes the button turn square :3 */
    background-color: white;
    img {
        height: 1rem;
        width: 1rem;
    }
}